<div class="card mx-auto p-3">
  <div class="d-flex justify-content-between align-items-start flex-nowrap">
    <h1 class="card-title"><%= @event.name %></h1>
    <% if current_user.attending?(@event.id) %>
      <%= button_to "Leave event", event_attendee_path(current_user.find_event_relationship(@event)), method: :delete, class: "btn btn-danger d-flex flex-nowrap" %>
    <% else %>
      <%= button_to "Join event", event_attendees_path, params: {event_attendee: {event_id: @event.id, attendee_id: current_user.id}}, class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="card-text d-flex gap-1 h4">
    <div class="fw-bold">When: </div>
    <div class="ml-1"><%= @event.time.strftime("%b %d, %Y %I:%M %p") %></div>
  </div>
  <div class="card-text d-flex gap-1 h4">
    <div class="fw-bold">Where: </div>
    <div class="ml-1"><%= @event.location %></div>
  </div>
  <div class="card-text d-flex gap-1 h4">
    <div class="fw-bold">Created by: </div>
    <div class="ml-1"><%= @event.creator.username %></div>
  </div>
  <div class="card-text d-flex gap-1 h4">
    <div class="fw-bold">Description: </div>
    <div class="ml-1"><%= @event.description %></div>
  </div>
  <div class="fw-bold h4">Attendees: </div>
  <ul class="h4">
    <% @event.attendees.each do |attendee| %>
      <li> <%= attendee.username %> </li>
    <% end %>
  </ul>
</div>