<div class="card mx-auto p-3 text-wrap">
  <div class="d-flex justify-content-between align-items-start flex-wrap card-body">
    <h1 class="card-title text-wrap"><%= @event.name %></h1>
    <% if user_signed_in? %>
      <% if current_user.owns?(@event) %>
        <div class="d-flex gap-1">
          <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary" %>
          <%= button_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger" %>
        </div>
      <% else %>
        <% if current_user.attending?(@event) %>
          <%= button_to "Leave event", event_attendee_path(current_user.find_event_relationship(@event)), method: :delete, class: "btn btn-danger d-flex flex-nowrap" %>
        <% else %>
          <%= button_to "Join event", event_attendees_path, params: {event_attendee: {event_id: @event.id, attendee_id: current_user.id}}, class: "btn btn-success" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="info-container card-body">
    <div class="card-text h4">
      <div class="fw-bold">Type:</div>
      <div class="ml-1"><%= @event.private ? "Private" : "Public" %></div>
    </div>
    <div class="card-text h4">
      <div class="fw-bold">When:</div>
      <div class="ml-1"><%= @event.time.strftime("%b %d, %Y %I:%M %p") %></div>
    </div>
    <div class="card-text h4">
      <div class="fw-bold">Where:</div>
      <div class="ml-1"><%= @event.location %></div>
    </div>
    <div class="card-text h4">
      <div class="fw-bold">Created by:</div>
      <div class="ml-1"><%= @event.creator.username %></div>
    </div>
    <div class="card-text h4">
      <div class="fw-bold">Description:</div>
      <div class="ml-1"><%= @event.description %></div>
    </div>
    <div class="fw-bold h4">Attendees:</div>
    <% if @event.attendees.empty? %>
      <div class="h4">None</div>
    <% else %>
      <ul class="h4">
        <% @event.attendees.each do |attendee| %>
          <li> <%= attendee.username %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>