<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📅</text></svg>">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/events">
          <%= image_tag "calendar-heart-fill.svg", alt: "PrivateEvents logo", height: 40 %>
          PrivateEvents
        </a>

        <ul class="navbar-nav text-center d-flex">
          <li class="nav-item">
            <a class="nav-link" href="/events">All Events</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Your Events", user_path(current_user), class: "nav-link" %>
            </li>
          <% end %>
        </ul>

        <div class="d-flex">
          <%= button_to(
            "+", new_event_path,
            method: :get,
            type: "button",
            class: "btn btn-success fs-4 fw-bold new-btn mx-3"
          ) %>
          <% if user_signed_in?%>
            <%= button_to(
              "Log Out",
              destroy_user_session_path,
              method: :delete,
              type: "button",
              class: "btn btn-secondary"
            ) %>
          <% else %>
              <%= button_to(
                "Log In", new_user_session_path,
                method: :get,
                type: "button",
                class: "btn btn-secondary"
              ) %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="m-2">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="mt-4 mx-1">
      <%= yield %>
    </div>
  </body>
</html>
